body {
    margin: 0;
    font-family: "Lato", sans-serif;
  }
  
  .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.48);
  }
  
  .sidebar a {
    display: block;
    color: #f1f1f1;
    padding: 16px;
    text-decoration: none;
    font-size: 0.7cm;
  }
   
  .sidebar a.active {
    background-color: #11b2cfb5;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #021725;
    color: white;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }
  .search{
    float: right;
    padding-left: 30%;
  }