body{
  background-image: url(frank1.jpg);
  background-size: cover;
}
  #board{ 
  background:rgba(29, 151, 232, 0.418);  
  width: 35%;
  height: 40%;
  display: flex;
  justify-content: center;
  justify-items: center;
  padding-top: 4%;
  padding-bottom: 4%;
  padding-left: 2%;
  padding-right: 2%;
  margin-top: 15%;
  margin-left: 30%;
  box-shadow: 0 4px 8px 0 rgba(237, 232, 232, 0.392);
  transition: 5s;
  border-radius: 15%; 
} 
#board :hover{

  box-shadow: 0 8px 16px 0 rgba(183, 184, 199, 0.829);
  pointer:pointer;
  
}

#board #card1{
    border: 1px rgba(222, 174, 174, 0.791) solid;
    width: 400px;
    height: 250px;
    background-color: rgba(114, 21, 21, 0.277);
    position: absolute;
    top: 10%;
    left: 2%;
    transform: translate(5px,12px);
    color: blanchedalmond;
}
.dropbtn {
    background-color: #f6f6f867;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #e9ba7cab}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #e7cf97eb;
  }
